BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000

DATABASE_URL="postgres://postgres:"
AUTH_GITHUB_CLIENT_ID=
AUTH_GITHUB_SECRET=
RESEND_API_KEY=
ARCJET_KEY=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_ENDPOINT_URL_S3=
AWS_ENDPOINT_URL_IAM=
AWS_REGION=auto

NEXT_PUBLIC_S3_BUCKET_NAME_IMAGES=